@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  /*Dark Mode colors*/

  --Rich-black: #000717;
  --Oxford-blue: #03254e;
  --Light-oxford-blue: #063b7c;
  --Ultra-violet: #545677;
  --White-smoke: whitesmoke;
  --French-grey: #d0ccd0;
}
html {
  /* box-sizing: border-box; */
  font-family: "Fira Code", monospace, sans-serif;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--Rich-black);
  color: var(--White-smoke);
}

h1 {
  color: var(--White-smoke);
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  padding: 20px;
}

h2 {
  color: var(--White-smoke);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 10px;
}

.add-sub {
  background-color: var(--Oxford-blue);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  text-shadow: black 0 3px 5px;
  font-size: 16px;
  height: 45px;
  padding: 0px 15px;
  pointer-events: auto;
  width: auto;
  border: 0;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  border: var(--French-grey) 1px solid;
}

.add-sub-btn-container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.add-sub:hover {
  background-color: #063b7c;
  transition: 0.5s ease;
}

.delete-sub {
  background-color: var(--Oxford-blue);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  text-shadow: black 0 3px 5px;
  font-size: 16px;
  height: 45px;
  padding: 0px 15px;
  pointer-events: auto;
  width: auto;
  border: 0;
  transition: box-shadow 0.2s;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  border: var(--French-grey) 1px solid;
}

.delete-sub-btn-container {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.delete-sub:hover {
  background-color: #063b7c;
  transition: 0.5s ease;
}

img.plus-svg {
  width: 40%;
  height: 40%;
}

img.minus-svg {
  width: 40%;
  height: 40%;
}

button.change-mode-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 75px;
  padding: 10px;
}

.dark-light-btn {
  display: flex;
  justify-content: right;
}

img.sun-svg {
  width: 100%;
  height: 100%;
}

img.moon-svg {
  border: solid 1px white;
  width: 100%;
  height: 100%;
}

.subscription-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.subscription-card {
  background: var(--French-grey);
  border-radius: 10px;
  color: #000717;
  width: 350px;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.subscription-card ol {
  font-size: 16px;
  list-style-type: none;
  padding-top: 25px;
  padding-left: 25px;
}

.card-title {
  font-size: 25px;
  font-weight: 600;
}

.subscription-card .edit-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  padding-bottom: 10px;
  margin-top: 20px;
}

.subscription-card .delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  padding-bottom: 10px;
  padding-right: 25px;
  margin-top: 20px;
}

img.pencil-svg {
  width: 30px;
  height: 30px;
}

img.trash-svg {
  width: 30px;
  height: 30px;
}

img.pencil-svg:hover {
  filter: saturate(350%);
}

img.trash-svg:hover {
  filter: saturate(350%);
}

.form-container {
  background: var(--French-grey);
  border-radius: 10px;
  color: #000717;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container input {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.form-container label {
  font-size: 20px;
}

button.submit-btn {
  background-color: var(--Oxford-blue);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #ffffff;
  cursor: pointer;
  text-shadow: black 0 3px 5px;
  font-size: 1rem;
  height: 45px;
  padding: 0px 15px;
  pointer-events: auto;
  border: 0;
  transition: box-shadow 0.2s;
  white-space: nowrap;
}

.title {
  margin-bottom: 20px;
}

.title h2 {
  font-size: 24px;
  color: #000717;
  font-weight: bold;
  margin: 0;
  padding: 5px 0;
}

.title p {
  font-size: 16px;
  color: #000717;
  margin: 0;
  padding: 5px 0;
  line-height: 18px;
}

.sub-name {
}

.price-name {
}

.price-name input {
}

.url-name {
}

.url-name input {
}

.payment-name {
}

.currency-name select {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
}

.payment-name select {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
}

.renewal-name {
}

.renewal-name select {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px;
  cursor: pointer;
  pointer-events: auto;
}

.renewal-date {
  white-space: nowrap;
}

.renewal-date input {
  cursor: pointer;
  pointer-events: auto;
}

.x-btn {
  color: var(--Oxford-blue);
  cursor: pointer;
  pointer-events: auto;
  width: 30px;
}

.x-btn:hover {
  filter: saturate(300%);
}

.close-x {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}

.site-icon {
  border-radius: 5px;
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.confirm-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirm-dialog {
  background-color: var(--French-grey);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--Oxford-blue);
  font-weight: bold;
  font-size: 18px;
}

.dialog-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dialog-buttons button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #03254e;
  color: #ffffff;
}

.cancel-link {
  display: inline;
  font-size: 18px;
  color: #063b7c;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.cancel-link:hover {
  text-decoration: underline;
}

.price-title {
  color: rgb(0, 128, 60);
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0.5px 0.5px 1px rgba(0, 10, 5, 0.545);
}
